.dropdown-container {
    position: relative;
    width: 100%; /* Sama dengan input */
}

.dropdown-button {
    width: 100%;
    padding: 10px;
    background: #1c4d97;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-list {
    display: none;
    position: absolute;
    width: 100%;
    background: white;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-list.active {
    display: block;
    opacity: 90;
    transform: translateY(0);
    visibility: visible;
}

.dropdown-list div {
    padding: 10px;
    cursor: pointer;
    transition: background 0.2s;
}

.dropdown-list div:hover {
    background: lightblue;
}

.rotate {
    transform: rotate(180deg);
}
